@using SnackbarB2C2Library
@using SnackbarB2C2.Data
@model VMOrderProducts

@{
    ViewData["Title"] = "Create";
}
<div class="linebreak"></div>
<h1>Create</h1>
<h4>Order</h4>
<hr />

<div>
    <a type="button" class="btn btn-primary" asp-controller="Orders" asp-action="Index">Back to List</a>
    <a type="button" class="btn btn-primary" asp-controller="Orders" asp-action="CreateNewOrder">Finalise order</a>
</div>

<div class="linebreak"></div>

<table class="table">
    <thead>
        <tr class="table-dark">

            <th>
                @Html.DisplayName("Name")
            </th>

            <th>
                @Html.DisplayName("Price")
            </th>

            <th>
                @Html.DisplayName("Stock")
            </th>

            <th>
                @Html.DisplayName("Discount")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model.Products)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => product.Name)
                </td>

                <td>
                    @Html.DisplayFor(model => product.Price)
                </td>

                <td>
                    @Html.DisplayFor(model => product.Stock)
                </td>

                <td>
                    @Html.DisplayFor(model => product.Discount)
                </td>

                <td>
                    <a asp-controller="Orders" asp-action="AddProductToOrderlist" asp-route-id="@product.Id">Add product to Order</a>
                </td>

            </tr>
        }

    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
